<table class="blog_posts">
  <% @posts.each do |post| %>
    <tr>
      <td>
        <h3><a href="<%= post.url %>"><%= post.title %></a></h3>
        <p><%= first_n_words 50 , post.body %></p>
      </td>
    </tr>
  <% end %>
</table>