<form action="/encrypt" method="post">
  <input type="text" name="message">
  <input type="submit" value="encrypt">
</form>

<form action="/decrypt" method="post">
  <input type="text" name="message">
  <input type="submit" value="decrypt">
</form>
